<!DOCTYPE HTML>
<html>
  <head>
  	{% block head %}
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>{% block title %}{% endblock %} - desart.sk</title>

      <meta name="application-name" content="Desart.sk">
      <meta name="description" content="">
      <meta name="keywords" content="desart,grafika,webdesign,programovanie,tvorba,webu,php,html,css">
      <meta name="robots" content="index, follow">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="{{ Url.asset("css/semantic.min.css") }}">
      <link rel="stylesheet" href="{{ Url.asset("/css/app.css") }}">

      <link rel="shortcut icon" type="image/x-icon" href="{{ Url.asset("img/favicon.ico") }}">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>

  	{% endblock %}
  </head>
	<body>

    <div class="pusher">

  	<div class="ui menu responsive">
  		<a class="togglesidebar item noneborder"><i class="sidebar icon"></i></a>
  		<a class="item itemhide logo noneborder" href="/"><img src="{{ Url.asset("img/logo.png") }}" alt="" /></a>
  		<a class="item itemhide noneborder" href="{{ Url.base("/") }}">Úvod</a>
  		<a class="item itemhide noneborder" href="{{ Url.base("/clanky") }}">Články</a>
  		<a class="item itemhide noneborder" href="{{ Url.base("/serie") }}">Série článkov</a>
  		<a class="item itemhide noneborder" href="{{ Url.base("/forum") }}">Diskusné fórum</a>

  		<div class="right menu">

  			<div class="item itemhide noneborder">
  				<div class="ui right aligned search">
  					<div class="ui icon input">
  						<input class="prompt" placeholder="Vyhľadávanie..." type="text">
  						<i class="search icon"></i>
  					</div>
  					<div class="results"></div>
  				</div> <!-- ./ui.search-->
  			</div>

            {% if User %}

              <div class="item noneborder lowpadding show-usernotifications">
                <i class="alarm outline large circular icon link">
                    {% if Notifications|length %}
                        <span class="ui red circular label">{{ Notifications|length }}</span>
                    {% endif %}
                </i>
        			</div>

        			<a class="item noneborder lesspadd show-userprofile">
        				<div class="ui horizontal list">
        					<div class="item">
        						<img class="ui mini circular image" src="http://data.desart.sk/avatars/{{ User.id }}.png">
        					</div>
        				</div>
        			</a>

            {% else %}

              <a class="item noneborder lesspadd">
        				<div class="ui horizontal list">
        					<div class="item">
                    <button class="circular ui teal button show-login" style="padding-top:12px;padding-bottom:12px">Prihlásiť sa</button>
        					</div>
        				</div>
        			</a>

            {% endif %}

  		</div> <!-- ./right menu -->

        {% if User %}
  		<div class="ui flowing usernotifications popup transition">
  			<div class="ui feed">
                {% for Notification in Notifications %}
                    <div class="event">
                        {% if Notification.type != 1 %}
                            <div class="label">
                                <img src="http://data.desart.sk/avatars/{{ Notification.by_subject }}.png">
                            </div>
                        {% endif %}

                        <div class="content">
                            <div class="date">
                                {{ Notification.created_at|date("d. m. Y H:m") }}
                                <a href="#"><i class="delete icon right aligned"></i></a>
                            </div>
                            <div class="summary">
                                {% if Notification.type == 1 %}

                                    {{ Notification.message|raw }}

                                {% elseif Notification.type == 2 %}

                                    Užívateľ {{ Auth.getUser(Notification.by_subject).username }} vás označil v komentári v článku.

                                {% elseif Notification.type == 3 %}

                                    Užívateľ <a>{{ Notification.by_subject }}</a> odpovedal vo vašej diskusii.

                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% else %}

                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Žiadne notifikácie.
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
  		</div> <!-- ./user notifications -->

  		<div class="ui flowing userprofile popup transition">
  			<div class="ui grid">
  				<div class="five wide column center aligned">

            <div class="ui blurring small image rounded bordered">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                      <a href="{{ Url.base("account/settings") }}" class="circular tiny ui teal inverted icon button" title="Nastavenia"><i class="settings icon"></i></a>
                  </div>
                </div>
              </div>
              <img class="ui image" src="http://data.desart.sk/avatars/{{ User.id }}.png">
            </div>

  				</div>
  				<div class="eleven wide column">
  					<h4 class="ui header" style="margin:0;">{{ User.username }}</h4>
            <small style="color:#888">{{ User.email }}</small><br>
            <a class="ui mini basic button" style="margin-top:7px">Prejsť do manageru</a>
  				</div>
  			</div>

  			<div class="progressbox">

          <div class="info">
            Reputácia: 10

            <span>15 / 20</span>
          </div>

  				<div data-percent="20" class="ui tiny active progress teal">
  					<div style="transition-duration: 300ms; width: 20%;" class="bar"></div>
  				</div>
  			</div>

  			<div class="ui two tiny bottom attached buttons" style="margin:0 -14px -12px -14px;">
  				<a href="{{ Url.base("account/settings") }}" class="ui teal button fluid"><i class="setting icon"></i> Nastavenia</a>
  				<a class="ui button fluid" href="{{ Url.base("account/logout") }}"><i class="sign out icon"></i> Odhlásiť sa</a>
  			</div>


  		</div> <!-- ./user profile -->
        {% endif %}

  	</div> <!-- ./menu -->

    {% block content %}{% endblock %}

		<div class="ui vertical footer segment">
			<div class="ui container">
				<div class="ui stackable equal height stackable grid padded">
					<div class="three wide column">
						<h4 class="ui header">Články</h4>
						<div class="ui link list">
							<a href="#" class="item">Najsledovanejšie</a>
							<a href="#" class="item">Série</a>
							<a href="#" class="item">Video návod</a>
							<a href="#" class="item">Odporúčané čítanie</a>
							<a href="#" class="item">Čo je nové</a>
						</div>
					</div>

					<div class="three wide column">
						<h4 class="ui header">Diskusné fórum</h4>
						<div class="ui link list">
							<a href="#" class="item">Fórum</a>
							<a href="#" class="item">Webdizajn</a>
							<a href="#" class="item">Bazar</a>
							<a href="#" class="item">Prezentácie stránok</a>
							<a href="#" class="item">Ponuka práce</a>
						</div>
					</div>

					<div class="three wide column">
						<h4 class="ui header">Uživateľ</h4>
						<div class="ui link list">
              {% if not User %}
							<a href="{{ Url.base("statistics") }}" class="item">Štatistiky</a>
							<a class="item show-register">Registrácia</a>
							<a class="item show-login">Prihlásenie</a>
              {% else %}
							<a href="{{ Url.base("settings") }}" class="item">Nastavenia</a>
							<a href="{{ Url.base("logouty") }}" class="item">Odhlásiť</a>
              {% endif %}
						</div>
					</div>

					<div class="seven wide column">
						<h4 class="ui header">DESART.SK</h4>
						<p>
							<a href="#" class="ui facebook icon button">
								<i class="facebook icon"></i>
							</a>

							<a href="#" class="ui twitter icon button">
								<i class="twitter icon"></i>
							</a>

							<a href="#" class="ui youtube icon button">
								<i class="youtube play icon"></i>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>

    </div> <!-- ./pusher -->

    <div class="ui vertical inverted sidebar menu">
      <a href="/" class="item"><i class="home icon"></i> Úvod</a>
      <a href="{{ Url.base("clanky") }}" class="item"><i class="file text outline icon"></i> Články</a>
      <a href="{{ Url.base("serie") }}" class="item">Série článkov</a>
      <a href="{{ Url.base("forum") }}" class="item"><i class="block layout icon"></i> Diskusné fórum</a>
      <a class="item show-login"><i class="user icon"></i> Registrácia / Prihlásanie</a>
    </div> <!-- ./mobile menu -->

    {# Modals #}
    {% include 'modal/markdownsupport.twig' %}
    {% if not User %}
    {% include 'modal/login.twig' %}
    {% include 'modal/register.twig' %}
    {% include 'modal/resetpass.twig' %}
    {% endif %}

    {# Javascript +CSS #}
    <script type="text/javascript" src="{{ Url.asset("js/semantic.min.js") }}"></script>
  	<script type="text/javascript" src="{{ Url.asset("js/perfect-scrollbar.min.js") }}"></script>
    <script type="text/javascript" src="{{ Url.asset("js/ajax.js") }}"></script>
    <script type="text/javascript" src="{{ Url.asset("js/app.js") }}"></script>
  	<link rel="stylesheet" href="{{ Url.asset("css/perfect-scrollbar.min.css") }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/monokai_sublime.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
    </body>
</html>
