{% extends "index.twig" %}

{% block title %}{{ Article.name }}{% endblock %}

{% block content %}

  <div class="article-header" style="background:url(http://data.icrazy.eu/i/JQqyNvxF.jpg) center center;background-size:cover">

    <div class="article-shadow"></div>

    <div class="article-title">
      <h1>{{ Article.name }}</h3>
      <small>HTTP/1.1 sa dočkalo zmeny. Čo pre nás táto zmena znamená? </small>
    </div>

    <div class="article-info">

      <a class="ui inverted button" style="color:{{ Article.Category.color }}">
        {{ Article.Category.name }}
      </a>

      <a class="ui inverted basic button right floated">
        {{ Article.User.username }}
      </a>

    </div>

  </div>


  <div class="container-article">

    <article id="article-view">{{ Article.content|raw }}</article>

    <div class="ui piled segment">
      <h4 class="ui header">{{ Article.User.username }}</h4>
      <p>{{ Article.User.Meta.bio }}</p>
    </div>

    <div class="ui comments">
        <h3 class="ui dividing header">Komentáre k článku </h3>
        {% for Comment in Article.Comments %}

            <div class="comment">
                <a class="avatar">
                    <img src="http://data.desart.sk/avatars/{{ Comment.User.id }}.png" alt="avatar">
                </a>

                <div class="content">
                    <a class="author">{{ Comment.User.username }}</a>

                    <div class="metadata">
                        <span class="date">{{ Comment.created_at.date|timeago }}</span>
                    </div>


                    <div class="text">
                        {{ Comment.text }}
                    </div>

                    <div class="actions">
                        <a class="reply">Reply</a>
                    </div>
                </div> <!-- ./content -->

                {% for Comment in Comment.ParentComment %}

                    <div class="comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="http://data.desart.sk/avatars/{{ Comment.User.id }}.png" alt="avatar">
                            </a>

                            <div class="content">
                                <a class="author">{{ Comment.User.username }}</a>

                                <div class="metadata">
                                    <span class="date">{{ Comment.created_at.date|timeago }}</span>
                                </div>


                                <div class="text">
                                    {{ Comment.text }}
                                </div>

                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div> <!-- ./content -->
                        </div> <!-- ./comment -->
                    </div> <!-- ./comments -->

                {% endfor %}
            </div> <!-- ./comment -->

        {% endfor %}

        <form id="ajax-comment" class="ui small reply form">
            <div class="field">
                <textarea></textarea>
            </div>
            <div class="ui small blue labeled submit icon button">
                <i class="icon edit"></i> Komentovať
            </div>
        </form>
    </div>



  </div>
{% endblock %}
