{% extends "index.twig" %}

{% block title %}{{ Article.name }}{% endblock %}

{% block content %}

    <div class="article-header center aligned" style="background:url(/desart/assets/img/bg.jpg) center center;height:600px;margin-top:-15px">

      <h3>{{ Article.name }}</h3>

    </div>


    <article id="articleview" style="max-width: 700px;margin:auto;padding:20px 15px">{{ Article.content|raw }}</article>
    <font color="{{ Article.Category.color }}">{{ Article.Category.name }}</font>
    <aside id="author">
        {{ Article.User.username }}
        {{ Article.User.Meta.bio }}
    </aside>
    <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
        {% for Comment in Article.Comments %}

            <div class="comment">
                <a class="avatar">
                    <img src="http://lorempixel.com/g/35/35/" alt="avatar">
                </a>

                <div class="content">
                    <a class="author">{{ Comment.User.username }}</a>

                    <div class="metadata">
                        <span class="date">{{ Comment.created_at.date|timeago }}</span>
                    </div>


                    <div class="text">
                        {{ Comment.text }}
                    </div>

                    <div class="actions">
                        <a class="reply">Reply</a>
                    </div>
                </div> <!-- ./content -->

                {% for Comment in Comment.ParentComment %}

                    <div class="comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="http://lorempixel.com/35/35/" alt="avatar">
                            </a>

                            <div class="content">
                                <a class="author">{{ Comment.User.username }}</a>

                                <div class="metadata">
                                    <span class="date">{{ Comment.created_at.date|timeago }}</span>
                                </div>


                                <div class="text">
                                    {{ Comment.text }}
                                </div>

                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div> <!-- ./content -->
                        </div> <!-- ./comment -->
                    </div> <!-- ./comments -->

                {% endfor %}
            </div> <!-- ./comment -->

        {% endfor %}

        <form class="ui small reply form">
            <div class="field">
                <textarea></textarea>
            </div>
            <div class="ui small blue labeled submit icon button">
                <i class="icon edit"></i> Komentovať
            </div>
        </form>
    </div>
{% endblock %}
