{% extends "index.twig" %}

{% block title %}{{ Article.name }}{% endblock %}

{% block content %}

  <div class="article-header" style="background:url(https://unsplash.it/800/400) center center;background-size:cover">

    <div class="article-shadow"></div>

    <div class="article-title">
      <h1>{{ Article.name }}</h3>
      <small>HTTP/1.1 sa dočkalo zmeny. Čo pre nás táto zmena znamená?</small>
    </div>

    <div class="article-info">

      <div class="ui two column stackable grid">
        <div class="column">

          <div class="ui small inverted horizontal list">
            <div class="item">
              <i class="user icon"></i>
              <a href="/@{{ Article.User.username }}" class="content">
                {{ Article.User.username }}
              </a>
            </div>
            <div class="item">
              <i class="calendar icon"></i>
              <div class="content popup-active" data-content="Naposledy upravené 2. Apríla 2016" data-variation="mini inverted" data-position="top center">publikované 1. Apríla 2015
              </div>
            </div>
          </div>

        </div>
        <div class="column large screen only right aligned">

          <div class="ui small inverted horizontal list">
            <div class="item">
              <i class="outline heart icon"></i>
              <div class="content">
                17x obľúbené
              </div>
            </div>
            <div class="item">
              <i class="marker icon"></i>
              <div class="content">
                5 550x prečítané
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>


  <div class="ui container">

    <article id="article-view">{{ Article.content|raw }}</article>

    <div class="ui card fluid">
      <div class="content">
        <img class="right floated mini ui image" src="http://data.desart.sk/avatars/{{ Article.User.id }}.png">
        <div class="header">
          {{ Article.User.username }}
        </div>
        <div class="meta">
          Užívateľ
        </div>
        <div class="description">
          {{ Article.User.Meta.bio }}
        </div>
      </div>
      <div class="extra content">
          <a class="ui mini green button">Odoberať články od užívateľa</a> <!-- Hlavné tlačítko, malo by byť viacej zvýraznené. -->
          <a href="" class="ui basic mini green button right floated">desart.sk</a>
          <a href="" class="ui basic mini green button right floated">Github</a>
      </div>
    </div>

    <div class="ui container comments">
        <h3 class="ui dividing header">Komentáre k článku </h3>
        {% for Comment in Article.Comments %}

            <div class="comment">
                <a class="avatar">
                    <img src="http://data.desart.sk/avatars/{{ Comment.User.id }}.png" alt="avatar">
                </a>

                <div class="content">
                    <a class="author">{{ Comment.User.username }}</a>

                    <div class="metadata">
                        <span class="date">{{ Comment.created_at.date|timeago }}</span>
                    </div>


                    <div class="text">
                        {{ Comment.text }}
                    </div>

                    <div class="actions">
                        <a class="reply">Reply</a>
                    </div>
                </div> <!-- ./content -->

                {% for Comment in Comment.ParentComment %}

                    <div class="comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="http://data.desart.sk/avatars/{{ Comment.User.id }}.png" alt="avatar">
                            </a>

                            <div class="content">
                                <a class="author">{{ Comment.User.username }}</a>

                                <div class="metadata">
                                    <span class="date">{{ Comment.created_at.date|timeago }}</span>
                                </div>


                                <div class="text">
                                    {{ Comment.text }}
                                </div>

                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div> <!-- ./content -->
                        </div> <!-- ./comment -->
                    </div> <!-- ./comments -->

                {% endfor %}
            </div> <!-- ./comment -->

        {% endfor %}

        <form id="ajax-comment" class="ui small reply form">
            <div class="field">
                <textarea></textarea>
            </div>
            <div class="ui small blue labeled submit icon button">
                <i class="icon edit"></i> Komentovať
            </div>
        </form>
    </div>



  </div>
{% endblock %}
