{% extends "index.twig" %}

{% block title %}Diskúsné fórum{% endblock %}

{% block content %}

<div class="container">

  {% for Category in Categories %}

    <div class="bigtitlecenter">
      <div class="bigtitle">
          <h5>{{ Category.name }}</h5>
          {{ Category.description|raw }}
      </div>
    </div>

    <div class="list-group">
      {% for Category in Category["sub_categories"] %}
        <a href="/forum/kategoria/{{ category.slug }}" class="list-group-item">{{ Category.name }} <small>({{ Category.description }})</small><span class="badge">{{  Category.count }}</span></a>
      {% endfor  %}
    </div>

  {% endfor  %}

</div>

{% endblock %}
