{% extends "index.twig" %}


{% block title %}{{ Profile.username }}{% endblock %}

{% block content %}
	<h2>{{ Profile.username }}</h2>
    <div>{{ Profile.Meta.bio }}</div>
	{% for Group in Profile.Groups %}
	    <div><span text-color="{{ Group.color}}">{{ Group.name }}</span></div>
	{% endfor %}
	{% for Comment in Profile.Comments %}
	{% endfor %}
{% endblock %}
